{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify suit_tags admin_urls %}
{% load url from future %}
{% load admin_urls %}

{% block title %}
    {% trans 'Club leagues add form' %}
{% endblock%}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{form.media}}
{% endblock %}

{% block content %}
<div id="content-main" class="inner-two-columns">
    <form method="post"  {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} action="{% url 'checker_form' %}" class="form-horizontal">
        {% csrf_token %}
        <div class="tab-content tab-content-main">
            {% if errors %}
            <div class="alert alert-error">
                {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %} Please correct the errors below.{% endblocktrans %}
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            {% block field_sets %}
                {% for field in form %}
                    <div class="control-group form-row field-username">
                        <div>
                            <div class="control-label">{{field.label}}</div>
                            <div class="controls">{{field}}</div>
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
            <button type="submit" class="btn btn-high btn-info">{% trans 'Submit' %}</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    $('form').on("submit", function(event){
        event.preventDefault();
        var params = $(this).serialize();
        if (params) {
            get_result(params);
        }
    });
    function get_result(params) {
        var url = '{% url 'api_checker' %}'
        if (params) {
            url = url + '?' + params;
        }
        $.ajax({
            url: url,
            success: function( data ) {
                alert(data.result);
            },
            statusCode: {
                404: function() {
                  alert( "страница не найдена" );
                },
                403: function() {
                  alert( "У Вас нет прав. Попробуйте залогинется" );
                },
                429: function() {
                  alert( "Попробуйте сделать запрос позже" );
                },
            }
        });
    };
</script>
{% endblock %}